<h1><%= @song.name %>: Music Billboard</h1>
<%= link_to 'Add BillBoard', new_song_billboard_path(@song) %>
<hr />

<h2>US TOP 100</h2>
<ul>
  <% @us_100s.each do |us| %>
    <li>
      <%= us.artist.full_name %>
      <br />
      <%= link_to 'Remove', song_billboard_path(@song, us), method: :delete %>
    </li>
  <% end %>
</ul>

<h2>Euro TOP 100</h2>
<ul>
  <% @euro_100s.each do |euro| %>
    <li>
      <%= euro.artist.full_name %>
      <br />
      <%= link_to 'Remove', song_billboard_path(@song, euro), method: :delete %>
    </li>
 <% end %>
</ul>
